body {
  font-family: Verdana;
  font-size:10px;
  color:yellow
}
#apricum {
  background:red; 
  padding:10px;
}
#portada {
  height:600px;
  width: 500px;
  background:red;
  border:5px solid red;
}
