body {
  font-family: Verdana;
  font-size:12px;
  color:black;
  text-align:justify;
}

#portada {
  height:600px;
  width: 500px;
  background:blue;
  border:5px solid red;
  transition: 0.5s
}
#fondoportada {
    display: none;

}
#portada:hover {
    background-color:transparent;
}
#portada:hover #fondoportada {
    display: inline;
    transition: 0.5s;
}
